node_modules/

uploads/beers/*
uploads/distillates/*
uploads/wines/*
uploads/others/*

!uploads/beers/.gitkeep
!uploads/distillates/.gitkeep
!uploads/wines/.gitkeep
!uploads/others/.gitkeep

.env.local