node_modules/

uploads/images/beers/*
uploads/images/distillates/*
uploads/images/wines/*
uploads/images/others/*

!uploads/images/beers/.gitkeep
!uploads/images/distillates/.gitkeep
!uploads/images/wines/.gitkeep
!uploads/images/others/.gitkeep